# This module contains the imported functions from each of our analyses

In [ ]:
import project_functions1
df = project_functions1.load_and_process('../data/raw/anime.csv')
df.head()

    Type  Popularity  Full Anime Completions
0     TV          39                  718161
1  Movie         518                  208333
2     TV         201                  343492
3     TV        1467                   46165
4     TV        4369                    7314

In [ ]:
import project_functions2
df = project_functions2.load_and_process('../data/raw/anime.csv')

                              Name  Score         Studios    Source Ranked  \
0                     Cowboy Bebop   8.78         Sunrise  Original     28
1  Cowboy Bebop: Tengoku no Tobira   8.39           Bones  Original    159
2                           Trigun   8.24        Madhouse     Manga    266
3               Witch Hunter Robin   7.27         Sunrise  Original   2481
4                   Bouken Ou Beet   6.98  Toei Animation     Manga   3710

   Popularity  Completed
0          39     718161
1         518     208333
2         201     343492
3        1467      46165
4        4369       7314